body {
  background-image: url(../src/images/blackjack.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.outer-container {
  background: rgba(224, 224, 224, 0.07);
  border-radius: 10px;
  margin: 40px;
  padding: 10px;
}
h1 {
  background: rgba(224, 224, 224, 0.1);
  border: 5px solid black;
  border-radius: 10px;
  color: black;
  font-family: 'Cookie', cursive;
  font-size: calc(2.375rem + 1.5vw);
  margin: 20px;
  padding: 20px;
  text-align: center;
}
h2 {
  color: black;
}
.rules {
  color: black;
  font-family: 'Cookie', cursive;
  font-size: 30px;
  line-height: 20px;
  margin: 25px auto;
  text-align: center;
}
.rules-link {
  color: black;
}
.rules-link:hover {
  text-decoration: underline;
  transition: all 100ms ease-in-out;
}
.buttons-box {
  margin: 40px 25px;
}
.card-box {
  background: rgba(224, 224, 224, 0.1);
  border: 2px solid black;
  border-radius: 10px;
  display: block;
  margin: 10px;
  padding: 30px 10px;
}

.card {
  background-color: rgb(221, 221, 221);
  border: 6px solid black;
  border-radius: 10px;
  display: inline-block;
  padding: 70px 10px;
  margin: 3px;
  max-width: 116px;
  text-align: center;
}
.total {
  color: #0b5ed7;
  font-size: 28px;
  font-weight: 500;
}
#dealerTotal,
#playerTotal {
  color: black;
}
footer {
  font-size: 13px;
  margin: 13px auto 0px;
  max-width: 400px;
  text-align: center;
}

.code-link {
  color: black;
  font-weight: 800;
  text-decoration: none;
}

.code-link:hover {
  text-decoration: underline;
  transition: all 100ms ease-in-out;
}

@media (max-width: 530px) {
  .rules {
    font-size: 18px;
  }

  .card {
    padding: 39px 10px;
    max-width: 67px;
  }
}
